.registration_form{
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 30px;
}

.registration_form ul {
	margin-top: 2%;
    width:50%;
    margin-left: auto;
	margin-right: auto;
    list-style-type:none;
    padding:5px;
}
.registration_form li{
    padding:18px; 
    border-bottom:1px solid silver;
    position:relative;
}
.registration_form label {
    width:35%;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.registration_form input {
    height:20px; 
    width:50%; 
    max-width: 50%;
    padding:5px;
}

.registration_form textarea {
	padding:5px;
	width:50%;
	}
	.loginlink
{
	font-size: 100%;
}
button {
    position: relative;
	margin-right:auto;
    width: 50%;
    background-color: #ADD8E6;

}
@media only screen and (max-width: 800px) {
.registration_form{
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
	margin-top:150px;
}
.registration_form ul {
	margin-top: 2%;
    width:80%;
    margin-left: auto;
	margin-right: auto;
    list-style-type:none;
    padding:5px;
}
.registration_form li{
    padding:18px; 
    border-bottom:1px solid silver;
    position:relative;
	font-size: 12px !important;
}
}
